*{
    margin: 0;
    padding: 0;
}

.fa-bars{
    color: #333;
}

.navbar-brand{
    margin-left: 30px;
    color: #fff;
}

#navbarNav li a{
    padding: 10px;
    margin-right: 20px;
    color: #f1c40f;
}

.jumbotron{
    background-image:url(../image/blur-code-dark-2653362.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
}



.jumbotron h3{
    margin-top: 100px;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
   
}

.lead{
    margin-top: 50px;
    text-align: center;
    color: #fff;

}


.media-body h3{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

/* About */

#about{
    margin-top: -200px;
}

#about .fa-github{
    color: #131418;
}

#about .fa-medium{
    color: #131418;
}

#about .fa-linkedin{
    color: #fff;
}

#about span{
    padding: 10px 20px 10px 20px;
}

#about hr{
    border-width: 2px;
    margin-top: 6px;
}

.about-me{
    font-size: 20px;
}

/* Skill */

.skill span{
    padding: 10px 20px 10px 20px;
}

.skill hr{
    border-width: 2px;
    margin-top: 6px;
}

.progress-bar{
    transition: all ease 0.5s;
}

/* expertise */

.expertise span{
    padding: 10px 20px 10px 20px;
}

.expertise hr{
    border-width: 2px;
    margin-top: 6px;
}

.card{
    background-color: red;
}

.fa-wordpress{
    font-size: 60px;
    color: #f1c40f;
}

.fa-database{
    font-size: 60px;
    color: #f1c40f;
}

.fa-laptop-code{
    font-size: 60px;
    color: #f1c40f;
}

.fa-paint-brush{
    font-size: 60px;
    color: #f1c40f;
}

.fa-pencil-alt{
    font-size: 60px;
    color: #f1c40f;
}


#services span{
    padding: 10px 20px 10px 20px;
}

#services hr{
    border-width: 2px;
    margin-top: 6px;
}

#services .lead-title{
    color: #f1c40f;
    margin-left: 65px;
}

#services h2{
    margin-left: 30px;
    color: #f1c40f;
}

#services .promo-title{
    margin-left: 40px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        margin-top: 20px;
    }
}

@media (max-width: 376px) {
    .card {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .card {
        margin-top: 20px;
    }
}

/* Contact us */

#contact span{
    padding: 10px 20px 10px 20px;
}

#contact hr{
    border-width: 2px;
    margin-top: 6px;
}

#contact .btn{
    margin-left: 400px;
    width: 200px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #contact .btn {
        width: 200px;;
    }
}

@media (max-width: 376px) {
    #contact .btn {
        width: 200px;;
    }
}

@media (max-width: 576px) {
    #contact .btn {
        width: 200px;
        margin-left: 100px;
    }
}